<div class="container">
    <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
        <ng-wizard-step [title]="'Step 1'" [description]="'Step 1 description'">
            <div>
                <span>Step 1 content</span>
                <button type="button" (click)="showNextStep($event)" class="btn btn-secondary ng-wizard-btn-next">
                    &gt;&gt;</button>
            </div>
        </ng-wizard-step>
        <ng-wizard-step [title]="'Step 2'" [description]="'Step 2 description'">
            <div>
                <button type="button" (click)="showPreviousStep($event)" class="btn btn-secondary ng-wizard-btn-prev">
                    &lt;&lt;</button>
                <span>Step 2 content</span>
                <button type="button" (click)="showNextStep($event)" class="btn btn-secondary ng-wizard-btn-next">
                    &gt;&gt;</button>
            </div>
        </ng-wizard-step>
        <ng-wizard-step [title]="'Step 3'" [description]="'Step 3 description'" [state]="stepStates.disabled">
            <div>
                <button type="button" (click)="showPreviousStep($event)" class="btn btn-secondary ng-wizard-btn-prev">
                    &lt;&lt;</button>
                <span>Step 3 content</span>
                <button type="button" (click)="showNextStep($event)" class="btn btn-secondary ng-wizard-btn-next">
                    &gt;&gt;</button>
            </div>
        </ng-wizard-step>
        <ng-wizard-step [title]="'Step 4'" [description]="'Step 4 description'" [state]="stepStates.hidden">
            <div>
                <button type="button" (click)="showPreviousStep($event)" class="btn btn-secondary ng-wizard-btn-prev">
                    &lt;&lt;</button>
                <span>Step 4 content</span>
                <button type="button" (click)="showNextStep($event)" class="btn btn-secondary ng-wizard-btn-next">
                    &gt;&gt;</button>
            </div>
        </ng-wizard-step>
        <ng-wizard-step [title]="'Step 5'" [description]="'Step 5 description'" [state]="stepStates.error">
            <div>
                <button type="button" (click)="showPreviousStep($event)" class="btn btn-secondary ng-wizard-btn-prev">
                    &lt;&lt;</button>
                <span>Step 5 content</span>
                <button type="button" (click)="showNextStep($event)" class="btn btn-secondary ng-wizard-btn-next">
                    &gt;&gt;</button>
            </div>
        </ng-wizard-step>
        <ng-wizard-step [title]="'Step 6'" [description]="'Step 6 description'">
            <div>
                <button type="button" (click)="showPreviousStep($event)" class="btn btn-secondary ng-wizard-btn-prev">
                    &lt;&lt;</button>
                <span>Step 6 content</span>
            </div>
        </ng-wizard-step>
    </ng-wizard>
    <div class="btn-toolbar ng-wizard-toolbar ng-wizard-toolbar-top justify-content-start">
        <div class="btn-group mr-2 ng-wizard-btn-group">
            <button type="button" (click)="showPreviousStep($event)"
                class="btn btn-secondary ng-wizard-btn-prev">Previous</button>
            <button type="button" (click)="showNextStep($event)"
                class="btn btn-secondary ng-wizard-btn-next">Next</button>
            <button type="button" (click)="resetWizard($event)" class="btn btn-danger">Reset</button>
            <select [(ngModel)]="selectedtheme" (change)="themeSelected()">
                <option *ngFor="let theme of themes" [ngValue]="theme">{{theme}}</option>
            </select>
        </div>
    </div>
    <br />
    <pre>{{ stepChangedArgs | json }}</pre>
</div>