<br />
<div class="container">
  <div class="form-group">

    <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
      <ng-wizard-step [title]="'Step 1'" [description]="'Step 1 description'" [canEnter]="isValidTypeBoolean"
        [canExit]="isValidFunctionReturnsBoolean.bind(this)">
        <app-step-one></app-step-one>
      </ng-wizard-step>

      <ng-wizard-step [title]="'Step 2'" [description]="'Step 2 description'" [state]="stepStates.disabled">
        <app-step-two></app-step-two>
      </ng-wizard-step>

      <ng-wizard-step [title]="'Step 3'" [description]="'Step 3 description'"
        [canEnter]="isValidFunctionReturnsObservable.bind(this)" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
        <app-step-three></app-step-three>
      </ng-wizard-step>

      <ng-wizard-step [title]="'Step 4'" [description]="'Step 4 description'">
        <app-step-four></app-step-four>
      </ng-wizard-step>

      <ng-wizard-step [title]="'Step 5'" [description]="'Step 5 description'" [state]="stepStates.hidden">
        <app-step-five></app-step-five>
      </ng-wizard-step>

      <ng-wizard-step [title]="'Step 6'" [description]="'Step 6 description'" [state]="stepStates.error">
        <app-step-six></app-step-six>
      </ng-wizard-step>

      <ng-wizard-step [title]="'Step 7'" [description]="'Step 7 description'">
        <app-step-seven></app-step-seven>
      </ng-wizard-step>
    </ng-wizard>

  </div>

  <div class="form-group">
    <div class="btn-toolbar ng-wizard-toolbar ng-wizard-toolbar-top justify-content-start">
      <div class="btn-group mr-2 ng-wizard-btn-group">
        <button type="button" (click)="showPreviousStep($event)" class="btn btn-secondary ng-wizard-btn-prev">
          Previous
        </button>
        <button type="button" (click)="showNextStep($event)" class="btn btn-secondary ng-wizard-btn-next">
          Next
        </button>
        <button type="button" (click)="resetWizard($event)" class="btn btn-danger">Reset</button>
        <select [(ngModel)]="selectedTheme" (change)="themeSelected()">
          <option *ngFor="let theme of themes" [ngValue]="theme">{{ theme }}</option>
        </select>
        <select [(ngModel)]="selectedStepIndex" (change)="stepIndexSelected()">
          <option *ngFor="let stepIndex of stepIndexes" [ngValue]="stepIndex">{{ 'Step - ' + (stepIndex + 1) }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div>
      <pre>{{ stepChangedArgs | json }}</pre>
    </div>
  </div>

</div>